<launch>
  <!-- 为腿部硬件设置私有串口参数 -->
  <arg name="port" default="/dev/mcu_leg"/>
  <arg name="baud" default="921600"/>
  <param name="leg/port" value="$(arg port)"/>
  <param name="leg/baud" value="$(arg baud)"/>

  <!-- 硬件 bringup（会带 controller_manager） -->
  <include file="$(find legged_dm_hw)/launch/legged_dm_hw.launch">
    <arg name="ns" value="leg"/>
  </include>

  <!-- 必须：URDF 里已经有这些腿部 joints -->
  <group ns="leg">
    <rosparam param="joint_state_controller">
      type: joint_state_controller/JointStateController
      publish_rate: 100
    </rosparam>

    <rosparam param="all_joints_hjc_leg">
      type: simple_hjc/AllJointsHybridController
      joints: ['leg_left_joint_1','leg_left_joint_2','leg_left_joint_3','leg_left_joint_4','leg_left_joint_5','leg_left_joint_6','leg_left_joint_7',
               'leg_right_joint_1','leg_right_joint_2','leg_right_joint_3','leg_right_joint_4','leg_right_joint_5','leg_right_joint_6','leg_right_joint_7']
      default_kp: 20.0
      default_kd: 1.0
      default_vel: 0.0
      default_ff:  0.0
    </rosparam>

    <node pkg="controller_manager" type="spawner" name="spawner_leg"
          output="screen"
          args="joint_state_controller all_joints_hjc_leg"/>
  </group>
</launch>
