<launch>
  <arg name="robot_type" default="dm"/>
  <arg name="base_ns" default="wanren"/>

  <!-- Load controller definitions for each limb namespace -->
  <rosparam command="load"
            file="$(find wanren_arm)/config/wanren_controllers.yaml"
            ns="$(arg base_ns)"/>

  <!-- Bring up hardware interfaces sharing the common URDF -->
  <include file="$(find legged_dm_hw)/launch/legged_dm_hw.launch">
    <arg name="ns" value="$(arg base_ns)/legs"/>
    <arg name="robot_type" value="$(arg robot_type)"/>
  </include>

  <include file="$(find left_arm_dm_hw)/launch/neck_dm_hw.launch">
    <arg name="ns" value="$(arg base_ns)/arms"/>
    <arg name="robot_type" value="$(arg robot_type)"/>
  </include>

  <include file="$(find neck_dm_hw)/launch/neck_dm_hw.launch">
    <arg name="ns" value="$(arg base_ns)/neck"/>
    <arg name="robot_type" value="$(arg robot_type)"/>
  </include>

  <!-- Spawn controllers for each group inside its namespace -->
  <group ns="$(arg base_ns)/legs">
    <node pkg="controller_manager" type="spawner" name="spawner_legs"
          output="screen"
          args="joint_state_controller legs_left_controller legs_right_controller"/>
  </group>

  <group ns="$(arg base_ns)/arms">
    <node pkg="controller_manager" type="spawner" name="spawner_arms"
          output="screen"
          args="joint_state_controller arms_left_controller arms_right_controller"/>
  </group>

  <group ns="$(arg base_ns)/neck">
    <node pkg="controller_manager" type="spawner" name="spawner_neck"
          output="screen"
          args="joint_state_controller neck_left_controller neck_right_controller"/>
  </group>
</launch>
